svg > rect {
  fill: rgb(8, 151, 166);
}

.line {
  fill: none;
  stroke: #2e1713;
  stroke-width: 0.5;
}

.area {
  fill: rgb(120, 156, 192);
  stroke: none;
  stroke-width: 0.5;
}

.halfMillion {
  fill: none;
  stroke: red;
  stroke-width: 0.5;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#controls {
  float:right;
  min-height:100%;
  background-color: rgb(214, 149, 106);
  width:33.33%;
}
#vis-container {
  float:left;
  min-height:100%;
  width:auto;
}
#car, object.car {
  height:500px;
}
