svg > rect {
  fill: rgb(8, 151, 166);
}

.line {
  fill: none;
  stroke: #605f5e;
  stroke-width:2;
}

svg, .axis {
  font-family: 'Open Sans', sans-serif;
  stroke: #605f5e;
}

.area {
  fill: rgb(120, 156, 192);
  stroke: none;

}

.box {
  fill: none;
  stroke: #605f5e;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#chart {
  background-color: #ede0cb;
  padding: 40px;
  text-align: center;
}

#controls {
  float:right;
  min-height:100%;
  background-color: #605f5e;
  width:50%;
}
#vis-container {
  float:left;
  min-height:100%;
  width:auto;
}
#car, object.car {
  height:500px;
}
