button {
  border-radius: 0 !important;
}
svg > rect {
  fill: rgb(8, 151, 166);
}

.line {
  fill: none;
  stroke: #CEBFAB;
  stroke-width: 2px;
  clip-path: url(#clip);
}

.axis text, text.axis {
  font-family: 'Open Sans', sans-serif;
  fill: #CCC;
}

text.axis {
  fill: #D4D8CD;
}

.axis line {
  stroke: #FFF;
}

.axis path{
  stroke: #FFF;
}

.area {
  fill: rgb(120, 156, 192);
  stroke: none;
}

.box {
  fill: none;
  stroke: #FFFFFF;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#chart {
  background-color: #928779;
  padding: 40px;
  text-align: center;
  margin-bottom:0 !important;
}

#overview {
  background-color: #928779;
  padding: 0 40px 40px 40px;
  text-align: center;
}

#controls {
  float:right;
  min-height:100%;
  background-color: #605f5e;
  width:50%;
  padding:0;
}

#controls button {
  border: 1px solid #252627;
  height: 3em;
}

#vis-container {
  float:left;
  min-height:100%;
  width:auto;
}

#car, object.car {
  height:500px;
}

@media (max-width: 700px) {
  #chart svg, #overview svg {
    width: 90%;
  }
  #chart, #overview {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #vis-container {
    text-align: center;
  }
}